* {
  margin: 0px;
  padding: 0px;
}

.main-wrapper {
  max-width: 1380px;
  margin: 0 auto;
  background-color: white;

  .inner-main-wrapper{
    display:flex;
  }
}

.left-wrapper {
  height: 650px;
  background-color: rgb(4, 4, 105);
  color: white;
  position: fixed;
}

.list-wrapper {
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    margin-top: 28px;
    margin-left: 39px;
    font-size: 16px;
    color: rgb(210, 208, 208);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

.starting-icon {
  width: 23%;
}

.for-mid-text {
  width: 68%;
}

.left-wrapper {
  .icon-list {
    margin-left: 50px;
  }

  h2 {
    margin-top: 36px;
    margin-bottom: 20px;
    margin-left: 56px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(227, 225, 225);
  }
}

.heading-dashboard-icon {
  margin-right: 14px;
}

.right-wrapper {
  background-color: aliceblue;
  width: 100%;
  margin-left: 262px;
}

.top-heading-section {
  margin-top: 38px;
  margin-left: 50px;
  display: flex;

  span {
    width: 76%;
  }
}

.header-section {
  height: 174px;
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  margin-top: 45px;
}
.search-bar-icon{
  position: absolute;
  margin-left:930px;
  margin-top: 7px;
  color:gray;
}

.search-bar {
  right: 97px;
  top: 44px;
  color: rgb(147, 145, 145);
}

.top-heading-section {
  span {
    font-weight: 500;
    margin-left: 5px;
  }

  input {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
  }
}

.first-portion {
  display: flex;
  height: 120px;
  width: 21%;
  border-radius: 10px;
  background-color: white;
  margin-right: 35px;
}

.wrapper-section-1, .wrapper-section-2, .text-section {
  width: 50%;
}

.top-text {
  margin-top: 33px;
  font-size: 11px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.text-icon {
  font-size: 10px;
  color: green;
  margin-left: 10px;
}

.text-icon-dec {
  font-size: 10px;
  color: rgb(187, 4, 4);
  margin-left: 10px;
}

.mid-text {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 1px;
}

.last-text-first {
  font-size: 12px;
  color: green;
  margin-left: 2px;
  font-weight: 700;
}

.last-text-first-dec {
  font-size: 12px;
  color: red;
  margin-left: 2px;
  font-weight: 700;
}

.last-text-last {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: rgb(66, 64, 64);
  margin-left: 5px;
  font-size: 12px;
}

.first-portion-span {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 125px;
  margin-left: 10px;
  background-color: lightgray;
  border-radius: 50%;
}

.first-portion-span-icon {
  position: absolute;
  color: rgb(51, 49, 49);
  top: 20px;
  margin-left: 20px;
  font-size: 45px;
}

.second-portion {
  height: 120px;
  width: 21%;
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin-right: 35px;
}

.second-portion-span {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 125px;
  margin-left: 10px;
  background-color: rgb(171, 243, 171);
  border-radius: 50%;
}

.second-portion-span-icon {
  position: absolute;
  color: green;
  top: 20px;
  margin-left: 26px;
  font-size: 45px;
}

.third-portion-span {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 125px;
  margin-left: 10px;
  background-color: lightpink;
  border-radius: 50%;
}

.third-portion-span-icon {
  position: absolute;
  color: rgb(176, 79, 95);
  top: 22px;
  margin-left: 22px;
  font-size: 45px;
}

.forth-portion-span {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 125px;
  margin-left: 10px;
  background-color: lightblue;
  border-radius: 50%;
}

.forth-portion-span-icon {
  position: absolute;
  color: rgb(31, 87, 109);
  top: 22px;
  margin-left: 22px;
  font-size: 45px;
}

.middle-section {
  height: 300px;
  display: flex;
}

.middle-section-left-portion {
  width: 65%;
  height: 280px;
  background-color: white;
  margin-left: 55px;
  border-radius: 10px;
}

.middle-header-wrapper {
  display: flex;
}

.middle-top-header-1 {
  font-size: 20px;
  font-weight: 700;
}

.middle-top-header-2 {
  font-size: 14px;
  margin-top: 6px;
}

.right-middle-header-wrapper {
  margin-top: 30px;
  margin-right: 20px;

  select {
    border: 1px solid rgb(218, 216, 216);
    border-radius: 3px;
    background-color: rgb(240, 239, 239);
    color: rgb(88, 87, 87);
  }
}

.left-middle-header-wrapper {
  width: 85%;
  margin-top: 25px;
  margin-left: 25px;
}

.middle-section-right-portion {
  width: 30%;
  height: 280px;
  margin-left: 20px;
  margin-right: 55px;
  background-color: white;
  border-radius: 10px;
}

.recharts-wrapper {
  position: relative;
  bottom: 30px;
  left: 66px;
  font-size: 12px;
  cursor: default;
  width: 500px;
  height: 230px;
}

.third-portion, .forth-portion {
  height: 120px;
  width: 21%;
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin-right: 35px;
}

.recharts-wrapper {
  position: relative;
  top: -24px;
  cursor: default;
  width: 300px;
  height: 300px;
}

.pie-chart {
  position: relative;
  top: -10px;
  left: 0px;
}

.pie-chart-img {
  margin-top: 26px;
}

.pie-chart-text {
  position: absolute;
  margin-top: 22px;
}

.pie-chart-p-1 {
  font-size: 20px;
  font-weight: 700;
  padding-left: 90px;
}

.pie-chart-p-2 {
  font-size: 13px;
  padding-left: 60px;
  padding-top: 5px;
  color: rgb(114, 114, 114);
}

.pie-chart-p-3 {
  position: absolute;
  margin-top: -127px;
  font-size: 26px;
  font-weight: 700;
  padding-left: 15px;
}

.pie-chart-p-4 {
  position: absolute;
  margin-top: -87px;
  font-size: 20px;
  font-weight: 700;
  color: green;
  padding-left: 19px;
}

.pie-chart-p-5 {
  position: absolute;
  margin-left: 207px;
  margin-top: -118px;
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-left: 19px;
}

.pie-chart-p-6 {
  position: absolute;
  margin-top: -90px;
  font-size: 20px;
  font-weight: 700;
  color: green;
  padding-left: 200px;
}

.footer-section {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  height: 356px;
  background-color: white;
  border-radius: 10px;
}

.inner-footer-section {
  height: 357px;
  background-color: white;
  border-radius: 7px;
}

.upper-footer-section {
  height: 114px;
  background-color: white;
  border-radius: 7px;
  display: flex;
}

.upper-footer-section-left {
  margin-top: 30px;
  padding-left: 20px;
  width: 60%;
}

.footer-left-p-1 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(49, 49, 49);
}

.footer-left-p-2 {
  font-size: 14px;
  padding-top: 20px;
  color: rgb(90, 89, 89);
}

.upper-footer-section-right {
  margin-top: 30px;
  padding-right: 20px;
}

.magnifying-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 140px;
  color: rgb(108, 107, 107);
}

.upper-footer-section-right {
  input {
    border: 1px solid white;
    background-color: rgb(252, 250, 250);
    padding: 3px;
  }

  select {
    border: 1px solid white;
    background-color: rgb(252, 250, 250);
    color: rgb(90, 89, 89);
    padding: 3px;
    margin-left: 30px;
  }
}

.product-detail {
  color: rgb(124, 124, 124);
  font-size: 13px;
  margin-top: 20px;
}

.product-detail-p-1 {
  padding-left: 10px;
  padding-right: 80px;
}

.product-detail-p-2 {
  padding-right: 80px;
}

hr {
  color: rgb(119, 118, 118);
}

.lower-footer-section {
  height: 50px;
  background-color: aqua;
  display: flex;
}

.lower-footer-left-part-1 {
  width: 10%;
}

.lower-footer-mid-part-1 {
  width: 50%;
}

.lower-footer-right-part-1 {
  width: 40%;
}

.lower-footer-section {
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: white;
  display: flex;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: white;
  display: flex;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: white;
  display: flex;
}

.lower-footer-mid-part-2 {
  width: 50%;
  margin-left: 50px;
}

.lower-footer-mid-part-2-heading {
  font-size: 20px;
  font-weight: 600;
}

.lower-footer-mid-part-2-para {
  font-size: 13px;
  color: gray;
}

.lower-footer-right-part-2 {
  margin-top: 10px;
  width: 40%;
  color: rgb(97, 97, 97);
}

.main-lower-footer-section {
  margin-left: 30px;
  margin-top: 16px;
}

.stock-detail-2 {
  font-size: 14px;
  margin-right: 47px;
}

.stock-detail-price-2 {
  margin-right: 79px;
  font-size: 16px;
  font-weight: 600;
}

.stock-detail-totalsales-2 {
  font-size: 14px;
}

.left-side-project-des {
  margin-left: 20px;
  margin-right:20px;
  margin-top: 200px;
  height: 50px;
  width: 240px;
  border: 1px solid rgb(127, 127, 194);
  background-color: rgb(127, 127, 194);
  border-radius: 5px;
  display: flex;
}

.manager-des-pic {
  padding-top: 5px;
  padding-left: 5px;
}

.manager-des-p-1 {
  color: whitesmoke;
  padding-left: 50px;
  padding-top: 4px;
  font-weight: 600;
  font-size: 17px;
}

.manager-des-p-2 {
  font-size: 13px;
  color: whitesmoke;
  padding-left: 19px;
}

.manager-des-icon {
  padding-top: 15px;
  padding-left: 46px;
}
